In [4]:
import pandas as pd

In [20]:
data = pd.read_csv("./FBlocation/train.csv")

In [21]:
data

            row_id       x       y  accuracy    time    place_id
0                0  0.7941  9.0809        54  470702  8523065625
1                1  5.9567  4.7968        13  186555  1757726713
2                2  8.3078  7.0407        74  322648  1137537235
3                3  7.3665  2.5165        65  704587  6567393236
4                4  4.0961  1.1307        31  472130  7440663949
5                5  3.8099  1.9586        75  178065  6289802927
6                6  6.3336  4.3720        13  666829  9931249544
7                7  5.7409  6.7697        85  369002  5662813655
8                8  4.3114  6.9410         3  166384  8471780938
9                9  6.3414  0.0758        65  400060  1253803156
10              10  2.0173  4.8627         6   21353  8684462954
11              11  8.7101  2.9442        73  153493  2159916487
12              12  0.8829  1.3445        64  574488  7652380351
13              13  2.4336  8.0600        62  238054  8234363596
14              14  6.1550  1.9774         8  325411  2272949794
15              15  7.6219  9.6208        65  321519  4740742194
16              16  3.2494  3.2096        75  777982  2123587484
17              17  0.7084  8.9051        69  320633  8016758016
18              18  2.7256  1.0135        54    6249  8936085695
19              19  4.2683  1.8238        70  411437  2778700985
20              20  5.3298  6.3457        52  736113  4845908305
21              21  4.2830  3.1855        62  500479  3938338894
22              22  9.6349  1.2462       172  181701  9784464752
23              23  7.4492  8.9950        17  726403  1874355796
24              24  1.2837  7.5588         4  245292  9885174082
25              25  7.6423  6.7629        70  323935  4294512385
26              26  4.6375  3.4561        67  297623  7766380992
27              27  4.3794  7.2107       165  727097  2110807282
28              28  7.2382  4.3998        75   11929  9713229580
29              29  4.5083  1.8794         2  310734  6163271747
...            ...     ...     ...       ...     ...         ...
29117991  29117991  1.4695  4.7915       170   13722  9518416844
29117992  29117992  4.3447  3.6639        60  392466  4579210194
29117993  29117993  8.7312  4.3808        57  185192  7082695242
29117994  29117994  8.1875  5.9198        55  187524  1550124580
29117995  29117995  1.3297  2.4151       157  121341  1226687693
29117996  29117996  9.6885  6.0283        62  330458  3530972003
29117997  29117997  7.6774  9.2865         3    7341  2856274327
29117998  29117998  9.1955  5.7141         4  363864  7842684810
29117999  29117999  3.1623  6.1656        65  518841  7594986161
29118000  29118000  9.8670  4.7670        64  405522  4745521730
29118001  29118001  1.6180  7.7528        15  181869  1024290530
29118002  29118002  3.5529  9.7930        24  684885  9033567575
29118003  29118003  5.5334  4.9625       157  406449  1329555199
29118004  29118004  7.0986  7.4478       178  531555  5731650052
29118005  29118005  7.0048  7.9702        96  670327  5039310244
29118006  29118006  8.8605  2.8834        72  642558  3822809844
29118007  29118007  8.1419  6.9827       522  586524  9294668810
29118008  29118008  8.7879  9.7045       159  776578  9791467472
29118009  29118009  3.4611  3.2491        68  535917  8647480716
29118010  29118010  1.4461  5.0805        73  134152  2596462819
29118011  29118011  4.4198  9.1936         9  107847  6554476200
29118012  29118012  5.1348  1.9838        16  528290  1817075880
29118013  29118013  7.1625  1.9283        70  513238  1406544605
29118014  29118014  7.4980  3.8432       192   42442  5515553973
29118015  29118015  1.6417  9.0446       643  549617  5760372884
29118016  29118016  6.5133  1.1435        67  399740  8671361106
29118017  29118017  5.9186  4.4134        67  125480  9077887898
29118018  29118018  2.9993  6.3680        67  737758  2838334300
29118019  29118019  4.0637  8.0061        70  764975  1007355847
29118020  29118020  7.4523  2.0871        17  102842  7028698129

[29118021 rows x 6 columns]

In [22]:
# 缩小数据范围
fb_data = data.query("x > 0.5 & x < 1.0 & y > 1.0 & y < 1.5")

In [23]:
fb_data.head()

      row_id       x       y  accuracy    time    place_id
12        12  0.8829  1.3445        64  574488  7652380351
172      172  0.7061  1.3806        52   71867  2143257457
721      721  0.5213  1.1285        10  325846  2643457131
998      998  0.6327  1.0866       169  714689  3713393150
2599    2599  0.6220  1.3394        70  224863  2108139759

In [24]:
# 对时间戳做处理
time = pd.to_datetime(fb_data["time"], unit="s")

In [25]:
type(time.values[0])

numpy.datetime64

In [26]:
# 转换成时间序列类型的数据
time = pd.DatetimeIndex(time)

In [27]:
# 选取有用的时间特征,添加字段到fb_data表里
fb_data["weekday"] = time.weekday
fb_data["hour"] = time.hour
fb_data["day"] = time.day

C:\Users\chain\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\chain\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\chain\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [28]:
fb_data.head()

      row_id       x       y  accuracy    time    place_id  weekday  hour  day
12        12  0.8829  1.3445        64  574488  7652380351        2    15    7
172      172  0.7061  1.3806        52   71867  2143257457        3    19    1
721      721  0.5213  1.1285        10  325846  2643457131        6    18    4
998      998  0.6327  1.0866       169  714689  3713393150        4     6    9
2599    2599  0.6220  1.3394        70  224863  2108139759        5    14    3

In [30]:
# 去掉签到较少的地点
place_count = fb_data.groupby("place_id").count()["row_id"]

In [33]:
# 查看大于10的地点
place_count[place_count > 10]

place_id
1007357594     63
1014605271     34
1024951487    174
1028119817     15
1029219789     20
1030142991     11
1031277804     22
1057269315     63
1084342384     42
1094779882     24
1107157390     24
1109153906     16
1115751157    253
1126963609     13
1140094746     23
1180437198     45
1188592110    148
1195596952     15
1267886014    164
1300151007     39
1304012647     36
1341745891    252
1366391988     46
1379594377     73
1395411566     13
1412316255    435
1425344847     89
1426656032     75
1434359903    140
1485299584     44
             ...
9520169143     49
9522876320    211
9561999904     25
9569297089    136
9589315362     55
9605243128    226
9649308625     33
9658055450     12
9668380093     50
9672302915     21
9674486308     28
9677666858     44
9721329770    163
9762073173    319
9773056775     59
9794272986     44
9817205271     81
9824924162     59
9841775341     67
9864693439    425
9872173629     13
9878157065     15
9912237323    158
9913438709     31
9920936659     72
9929729717     27
9935755425     22
9963337784     40
9965414305    494
9994257798     26
Name: row_id, Length: 510, dtype: int64

In [31]:
# 去掉签到较少的地点原数据
new_data = fb_data[fb_data["place_id"].isin(place_count[place_count > 10].index)]

In [34]:
new_data.head()

      row_id       x       y  accuracy    time    place_id  weekday  hour  day
12        12  0.8829  1.3445        64  574488  7652380351        2    15    7
172      172  0.7061  1.3806        52   71867  2143257457        3    19    1
721      721  0.5213  1.1285        10  325846  2643457131        6    18    4
998      998  0.6327  1.0866       169  714689  3713393150        4     6    9
2599    2599  0.6220  1.3394        70  224863  2108139759        5    14    3

In [37]:
# 筛选出特征值和目标值
x = new_data[["x", "y", "accuracy", "weekday", "hour", "day"]]  # x轴位置,y轴位置,accuracy:精确度,星期几,小时,天
y = new_data["place_id"]  # 地点

In [36]:
x.head()

           x       y  accuracy  weekday  hour  day
12    0.8829  1.3445        64        2    15    7
172   0.7061  1.3806        52        3    19    1
721   0.5213  1.1285        10        6    18    4
998   0.6327  1.0866       169        4     6    9
2599  0.6220  1.3394        70        5    14    3

In [38]:
y.head()

12      7652380351
172     2143257457
721     2643457131
998     3713393150
2599    2108139759
Name: place_id, dtype: int64

In [39]:
from sklearn.model_selection import train_test_split

# 数据集划分
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [40]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier


# 3、标准化
transfer = StandardScaler()
x_train = transfer.fit_transform(x_train)
# 思考：x_test应该用fit?fit_transform?transform?
x_test = transfer.transform(x_test)

# 4、KNN预估器流程
# 1）实例化预估器类
estimator = KNeighborsClassifier(n_neighbors=3)

# 2）调用fit进行训练
estimator.fit(x_train, y_train)

# 3）得出预测结果
y_predict = estimator.predict(x_test)
print("预测结果：\n", y_predict)

# 4）模型评估
# 1）对比真实值和预测值
print("对比真实值和预测值:\n", y_predict == y_test)
# 2）直接计算准确率
accuracy = estimator.score(x_test, y_test)
print("准确率为：\n", accuracy)

预测结果：
 [6171584983 1862038033 5475126739 ... 1426656032 5600621154 2552774242]
对比真实值和预测值:
 9193611     False
28791108    False
23253433     True
11562653    False
5450846     False
14969396    False
21529869    False
20953548    False
16308410    False
6974909      True
7312244     False
5949882      True
24894669    False
976063       True
8653702      True
10074489     True
18069796    False
18343717     True
22500893     True
4316707      True
24084137    False
16557608    False
19774007     True
25365941    False
4865486      True
26305541    False
15485750    False
4684460     False
25470357     True
8893887      True
            ...
18398888     True
7211843     False
26116178    False
22551512     True
11838161     True
1045119      True
24402586     True
3343251     False
19520760    False
4107181     False
21286339     True
2264642      True
17195864     True
27043860    False
12468943    False
24402039    False
26886847    False
11586411    False
1387459      True
12562947    False
6243492      True
15501262    False
655486      False
19571864     True
16339292     True
27341940    False
21532608    False
21492914    False
10572098    False
16209482    False
Name: place_id, Length: 16246, dtype: bool
准确率为：
 0.38766465591530225